.refParent {
  background-color: #1a4314;
}

.refContainer {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.refHead {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 63px 0;
  gap: 56px;

  align-items: center;
}

.refTitle {
  font-size: 48px;
  font-weight: 500;
  /* -webkit-text-stroke: 0.4px black; */
}

.refSearch {
  height: 60px;
  border: 3px solid white;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  padding: 5px 30px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.75);
  border-radius: 32px;
  /* box-shadow: 1px; */
  /* position: absolute; */
  width: 100%;
  /* height: 90; */
  max-width: 1024px;
  /* bottom: 150px; */
}
.refSearchCont {
  display: grid;
  /* margin: 0px 45px; */
  /* width: 100%; */
  /* justify-content: space-between; */
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  max-height: 50px;
}

.headerSearchItem {
  /* display: flex; */
  gap: 10px;
  height: 100%;
  /* padding: 5px; */
  /* flex-direction: row; */
}

.headerIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.headerSearchInputDest {
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #f6ecec;
  width: 500px;
  height: 100%;
}

/* .date {
  position: absolute;
  top: 50px;
  z-index: 2;
} */

.headerBtn {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  width: 120px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.referenceList {
  padding: 75px 0 200px;
}

.refGrid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  grid-row-gap: 27px;
  grid-column-gap: 23px;
}

.refGrid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */
}

.p-inputnumber-input {
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  background-color: #f6ecec;
  /* width: 180px; */
  height: 100%;
  padding-left: 15px;
  /* display: inline-block; */
}

.p-dropdown {
  width: 150px;
}
