.list {
  display: flex;
}


.planning {
  width: 30%;
  height: 820px;
  overflow: auto;
}

.planning::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.planning {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.placemap {
  width: 20%;
  height: 820px;
  overflow: auto;
}

.placemap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.placemap {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}




.MapTempat {
  width: 50%;
  height: 100%;
}
.map-container{
  height: 100vh; 
  width: 100%;
}
