.navbar{
    display: flex;
    justify-content: center;    

}

.navContainer{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: none;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.navContainer.fixed {
    background-color: rgba(0,0,0,0.7);
    transition: 0.3s ease-in-out;
    width: 100%;
}

.logo{
  
    font-family: CovesBold, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navItems{
    
    display: flex;
    flex-direction: row;

}

.navButton{
    
    font-family: CovesBold, sans-serif;
    margin-left: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a{
    font-family: CovesBold, sans-serif;
    text-decoration: none;
    color: white;
}