.review-list {
  width: 100%;
  /* max-width: 1024px; */
  /* display: flex; */
  /* justify-content: space-between; */
  justify-content: center;
  /* gap: 20px; */
  flex-direction: row;
  /* padding-left: 20%; */
  height: 100%;
  z-index: 0;
  margin: 0 auto;
  padding: 50px 0;
}

.swiperSlide {
  padding: 20px 0;
}

.buttonToRef {
  margin-top: -20px;
  text-align: center;
}
