.review-list {
  width: 100%;
  /* max-width: 1024px; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  /* gap: 20px; */
  flex-direction: row;
  /* padding-left: 20%; */
  height: 100%;
}

/* SwiperSlide {
  width: 10px;
  height: 200px;
} */
