.review {
  /* position: relative;
  display: flex; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 25px;
  /* height: 305px; */
  width: fit-content;
  height: 100%;
  transition: 0.25s ease-in-out;
  /* margin: 10px 0; */
  /* margin: 0.3% 0vh; */
  /* width: 280px; */
}

.review:hover {
  transform: scale(1.1);
}

.review-box {
  /* flex: auto; */
  /* gap: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 5px 15px;
  /* min-height: 258px; */
  width: 258px;
  /* height: 400px; */
  /* width: 100%; */
  /* margin: -2%; */
  /* overflow: auto; */
}

.reviewTitle {
  height: 1.8rem;
  max-width: 90%;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.reviewDays {

  height: 1.5rem;
  width: 100%;
  overflow: hidden;
}

.rate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  /* padding-bottom: 1%; */
}

.circle-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  padding: auto;
}

.profile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15%;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
}

.rating {
  width: fit;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5%;
  font-size: 16px;
  color: #938080;
}

.star {
  font-size: 200%;
  /* margin: 8px; */
  cursor: pointer;
  transition: color 0.5s;
  color: #fabf35;
  transition: 0.25s ease-in-out;

  /* width: 10px; */
  /* margin: 2%; */
  /* display: flex; */
}

.star:hover {
  transform: scale(1.3);
}

.content {
  display: flex;
  width: 100%;
  gap: 5%;
  justify-content: space-between;
  /* margin-bottom: -2%; */
  /* height: 80%; */
  padding: 15px 0;
}

.comment h2 {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  justify-content: right;
  text-align: center;

  text-size: auto;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 120%;
  text-align: center;
  max-height: 80%;
}

.comment {
  width: 100%;
  /* font-family: "Jacques Francois"; */
  font-style: normal;
  font-weight: 400;
  /* font-size: 50%; */
  /* line-height: 50%; */
}

.country {
  width: 257px;
  background-size: cover;
  /* background-color: black; */
  /* padding: 10%; */
  border-radius: 25px;
  color: white;
  /* gap: 0px; */
  height: 176px;
}

.countryText {
  padding-left: 10%;
  font-weight: 300;
  display: flexbox;
  margin: 0;
}

.countryText h2 {
  font-weight: 400;
  font-size: 150%;
  margin-bottom: -20px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}