.header {
  background: url('../../Image/Homepage/Indonesia.png') no-repeat center/cover;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  top: 0;
  position: relative;
}

.headerTitle {
  text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20vh;
  font-size: 5rem;
  color: white;
  position: absolute;
  bottom: 25%;
}

.headerSearch {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 50px;
  background-color: white;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  width: 65%;
  max-width: 1024px;
  bottom: 150px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  /* flex-direction: row; */
}

.headerIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.headerSearchInput {
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #f6ecec;
  width: 200px;
  height: 30px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.headerBtn {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  width: 120px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 766px) {
  /* For Phone: */
  .header {
    height: 620px;
  }

  .headerTitle {
    padding: 20vh 0;
    font-size: 6vh;
    font-weight: 500;
    -webkit-text-stroke: 0.4px black;
  }

  .headerSearch {
    height: 200px;

    flex-direction: column;
    padding: 20px 10px 10px 10px;
    margin: 20px 0;
    width: 80%;
    bottom: 20px;

    opacity: 0.8;
    border-radius: 25px;
  }
  .autocomplete {
    width: 100%;
  }

  .headerSearchItem {
    /* display: flex; */
    align-items: center;
    width: 100%;
    justify-content: center;
    /* gap: 10px; */
    /* flex-direction: row; */
  }

  .headerIcon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .headerSearchInput {
    border-radius: 6px;
    background-color: white;
    outline: none;
    border: 1px solid #dadfe3;
    width: 100%;
    height: 30px;
  }

  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }

  .headerBtn {
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
    width: 120px;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}
