.listInformation{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    top: 0;
    margin-bottom: 75px;
}

.information{
   
    padding: 10px;
    z-index: 1;
    border-radius: 12px;
    width: 80%;
    margin-top: 100px;
    height: 80px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tripLine{
    border-top: 3px dashed black;   
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 1px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  

.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #fff
}

.toggle-btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #e67e22;
	border-radius: 30px;
	transition: .5s;
}